/* General styles */

:root {
    --accent-color: #4154f1;
    --accent-muted-color: #e7eafd;
}

.accent-bg {
    background-color: var(--accent-muted-color);
}

.navbar .logo {
    height: 40px;
    width: auto;
}

/* Home page styles */
.offer-section {
    padding: 80px 0;
}

.offer-img {
    width: 100%;
    height: auto;
}