/* General styles */

:root {
    --accent-color: #4154f1;
    --accent-muted-color: #ebedfb;
    --accent-ultra-light-color: #f6f6fe;
}

.accent-bg {
    background-color: var(--accent-muted-color);
}

.navbar .logo {
    height: 35px;
    width: auto;
}

/* Home page styles */
.section {
    padding: 80px 0;
}

.offer-img {
    width: 100%;
    height: auto;
}

.swiper-pagination {
    position: static !important;
    margin-top: -10px;
}

.feature {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.feature .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
    color: var(--accent-color);;
    background: var(--accent-ultra-light-color);
}